.navbar .nav-link{
    font-family: "adobeinvisfont";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #16A085;
    text-transform:uppercase;
    size: 1rem;
}